<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="style.css">
        <title>Shopping App</title>
    </head>
    <body ng-app="ShoppingListCheckOff">
        <h1>Shopping List Check Off Application</h1>
        <!--Section to buy items-->
        <div id="buyList" ng-controller="ToBuyController as buyCtrl">
            <h2>To buy</h2>
            <ol>
                <li ng-repeat="item in buyCtrl.buyList">
                    Buy {{item.quantity}} {{item.name}} <button ng-click="buyCtrl.buyItem($index)" >Bought</button>
                </li>
             </ol>
             <p ng-if="!buyCtrl.buyList.length > 0">
                Everything is bought!  
             </p>
        </div>

        <!--Section to see the bought items-->
        <div id="boughtList" ng-controller="AlreadyBoughtController as boughtCtrl">
            <h2>Already bought</h2>
            <div ng-repeat="bought in boughtCtrl.boughtList">
                <p>Bought {{bought.quantity}} {{bought.name}}</p>
            </div>
            <p ng-if="!boughtCtrl.boughtList.length>0 ">
                Nothing bought yet
            </p>
        </div>
    </body>
</html>